<app-tool-bar></app-tool-bar>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{customer?.Name}} {{customer?.LastName}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @for (bill of customer?.Bills?.Bill; track $index) {
                    <ul>
                        <li><b>Factura:</b> {{bill.billId}}, <b>Total:</b> {{bill.TotalAmount}}</li>
                        <ul>
                            @for (billItem of bill.BillItems.BillItem; track $index) {
                                <li><b>Producto:</b> {{billItem.Product.Name}}, <b>Precio: </b> {{billItem.Price}}</li>
                            }
                        </ul>
                    </ul>
                }
            </div>
        </div>
    </div>
</div>